name: Build and Pack NuGet Packages

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      version:
        description: 'Version for NuGet packages'
        required: true
        type: string

jobs:
  build-pack:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Update SharedAssemblyInfo.props version
        run: |
          (Get-Content 'src/SharedAssemblyInfo.props') -replace '<Version>.*</Version>', "<Version>${{ inputs.version }}</Version>" | Set-Content 'src/SharedAssemblyInfo.props'
        shell: pwsh

      - name: Update AltaSoft.Storm.MsSql.nuspec versions
        run: |
          pwsh -File "Update-NuspecDependencyVersions.ps1" -PackageVersion "${{ inputs.version }}"
        shell: pwsh

      - name: Update build targets version
        run: |
          pwsh -File "Update-TaskAssemblyVersion.ps1" -NewVersion "${{ inputs.version }}" -FilePath "src/AltaSoft.Storm.Weaver/build/AltaSoft.Storm.Generator.MsSql.targets"
          pwsh -File "Update-TaskAssemblyVersion.ps1" -NewVersion "${{ inputs.version }}" -FilePath "src/AltaSoft.Storm.Weaver/buildMultiTargeting/AltaSoft.Storm.Generator.MsSql.targets"
        shell: pwsh

      - name: Restore projects
        run: |
          dotnet restore src/AltaSoft.Storm.Generator.Common/
          dotnet restore src/AltaSoft.Storm.Weaver/
          dotnet restore src/AltaSoft.Storm.Generator/
          dotnet restore src/AltaSoft.Storm/
          dotnet restore src/AltaSoft.Storm.MsSql/
          dotnet restore src/AltaSoft.Storm.Analyzers/
        shell: pwsh

      - name: Build projects
        run: |
          dotnet build -c Release src/AltaSoft.Storm.Weaver/
          dotnet build -c Release src/AltaSoft.Storm/
          dotnet build -c Release src/AltaSoft.Storm.Analyzers/
          dotnet build -c Release -o ./nupkgs src/AltaSoft.Storm.Generator/
        shell: pwsh

      - name: Pack projects
        run: |
          dotnet pack -c Release -o ./nupkgs src/AltaSoft.Storm.Generator/
          dotnet pack -o ./nupkgs src/AltaSoft.Storm.MsSql/
        shell: pwsh

      - name: Upload NuGet packages as artifact
        uses: actions/upload-artifact@v4
        with:
          name: nupkgs
          path: ./nupkgs/*.nupkg
